/***********************/
/* grid */
/***********************/

.grid {
  display: grid;
}

.header__grid {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
}

.hero__grid {
  grid-template-columns: repeat(2, 1fr);

  padding: 4rem 0 8rem 0;
  gap: 2rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 0 8rem 0;
    gap: 1.5rem;
  }

  @media (max-width: 378px) {
    padding: 0rem 0 8rem 0;
  }
}

.about__grid {
  grid-template-columns: repeat(2, 1fr);

  padding: 3rem 0 8rem 0;
  gap: 2rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
  }

  @media (max-width: 340px) {
    gap: 0rem;
  }
}

.project__grid {
  grid-template-columns: repeat(2, 1fr);

  gap: 3rem;
  padding: 0 0 4rem 0;
  align-items: center;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  @media (max-width: 800px) {
    gap: 0;
    grid-template-rows: 0.75fr 1fr 0.75fr 1fr 0.75fr 1fr 0.75fr 0.9fr;
  }

  @media (max-width: 600px) {
    gap: 0;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 0.9fr;
  }
}

.contact__grid {
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0 12rem 0;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
