/***********************/
/* grid */
/***********************/

.grid {
  display: grid;
}

.header__grid {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
}

.hero__grid {
  grid-template-columns: repeat(2, 1fr);

  padding: 4rem 0 8rem 0;
  gap: 2rem;
}

.about__grid {
  grid-template-columns: repeat(2, 1fr);

  padding: 3rem 0 8rem 0;
  gap: 2rem;
}

.project__grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}
