@use './variables' as *;

body {
  background-color: $beige;
}

html {
  font: 62.5%;

  @media (max-width: 1200px) {
    font: 55%;
  }

  @media (max-width: 1100px) {
    font: 50%;
  }

  @media (max-width: 750px) {
    font: 45%;
  }

  @media (max-width: 450px) {
    font: 35%;
  }
}

.wrapper {
  margin-inline: auto;
  max-width: 1200px;
  width: 80%;
}

.title {
  display: flex;
  gap: 1rem;

  @media (max-width: 500px) {
    gap: 0;
  }
}

img {
  display: block;
}

.title--style {
  width: 11rem;
  height: 1.4rem;
  border-bottom: 3.5px solid $yellow;
}

i {
  font-size: 3.5rem;
  color: rgba(51, 51, 51, 0.9);
}

/***********************/
/* Hero Section */
/***********************/

.hero__textContainer {
  h1 {
    font-family: $body-font;
    font-weight: $semiBold;
    font-size: 3.5rem;

    @media (max-width: 950px) {
      font-size: 3rem;
    }

    @media (max-width: 500px) {
      font-size: 2.4rem;
      text-align: center;
    }

    background-image: linear-gradient(
      90deg,
      rgba(94, 114, 235, 1) 0%,
      rgba(255, 145, 144, 1) 56%,
      rgba(254, 193, 149, 1) 100%
    );
    color: transparent;
    background-clip: text;

    animation: move 4s infinite;

    @keyframes move {
      50% {
        background-image: linear-gradient(
          262deg,
          rgba(94, 114, 235, 1) 0%,
          rgba(255, 145, 144, 1) 56%,
          rgba(254, 193, 149, 1) 100%
        );
      }
    }
  }

  p {
    font-family: $main-font;
    font-size: 4rem;
    font-weight: $regular;
    text-transform: uppercase;

    @media (max-width: 950px) {
      font-size: 3.5rem;
    }

    @media (max-width: 500px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .hero__tag {
    font-family: $body-font;
    font-size: 1.2rem;
    font-weight: $regular;
    text-transform: none;
    margin-top: 3.5rem;

    @media (max-width: 800px) {
      margin-top: 3rem;
    }
    @media (max-width: 600px) {
      margin-top: 1.5rem;
      font-size: 1rem;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }
}

.hero__imgContainer {
  width: 70%;
  justify-self: end;
  padding-top: 4rem;

  @media (max-width: 1200px) {
    grid-row: 1/2;
    justify-self: center;
    width: 40%;
  }
  @media (max-width: 850px) {
    width: 50%;
  }
  @media (max-width: 750px) {
    padding-top: 3rem;
  }

  @media (max-width: 378px) {
    align-self: end;
    width: 75%;
  }
}

/***********************/
/* About Section */
/***********************/

h3 {
  font-family: $main-font;
  font-size: 2.5rem;
  font-weight: $regular;
  text-transform: uppercase;
  padding-bottom: 4rem;

  @media (max-width: 500px) {
    font-size: 2.2rem;
  }
}

h4 {
  font-family: $body-font;
  font-weight: $semiBold;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  @media (max-width: 550px) {
    justify-content: center;
  }
}

.list--box {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-family: $main-font;
    margin-top: 1rem;
  }
}

.about__des {
  p {
    font-size: 1.2rem;
    font-family: $body-font;
    font-weight: $light;

    line-height: 1.5rem;

    @media (max-width: 550px) {
      text-align: center;
    }
  }
}

/***********************/
/* Project Section */
/***********************/

.project--header {
  margin-bottom: 3rem;
}

.project__imageContainer {
  width: 100%;

  margin-bottom: 5rem;

  img {
    border: 1px solid rgba(33, 33, 33, 0.33);
  }

  @media (max-width: 1200px) {
    margin-bottom: 1rem;
    width: 70%;
    justify-self: center;
    align-self: center;
  }

  @media (max-width: 600px) {
    width: 80%;
  }

  @media (max-width: 450px) {
    width: 90%;
  }

  @media (max-width: 400px) {
    align-self: end;
    margin-bottom: 4rem;
    width: 100%;
  }
}

.project__two {
  @media (max-width: 1200px) {
    grid-row: 3/-7;
  }
}

.project__four {
  @media (max-width: 1200px) {
    grid-row: 7/-3;
  }
}

h5 {
  font-family: $body-font;
  font-weight: $medium;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;

  @media (max-width: 700px) {
    font-size: 1.7rem;
  }
  @media (max-width: 550px) {
    text-align: center;
  }
}
.tool--list {
  display: flex;
  text-transform: uppercase;
  gap: 2rem;

  @media (max-width: 700px) {
    gap: 1rem;
  }

  @media (max-width: 550px) {
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    font-family: $body-font;
    border: 1px solid $black;
    padding: 0.4rem;

    @media (max-width: 450px) {
      font-size: 0.8rem;
    }
  }
}

.project__text {
  margin-bottom: 5rem;

  @media (max-width: 1200px) {
    margin-bottom: 0;
  }

  @media (max-width: 550px) {
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.2rem;
    font-family: $body-font;
    font-weight: $light;
    line-height: 1.5rem;
    padding-top: 1rem;
    line-height: 2rem;

    @media (max-width: 700px) {
      font-size: 1rem;
    }

    @media (max-width: 550px) {
      text-align: center;
      line-height: 1.5rem;
    }
  }

  .project__link {
    display: flex;

    @media (max-width: 550px) {
      justify-content: center;
    }
  }
  a {
    margin-top: 3rem;
    margin-right: 2rem;
    font-family: $body-font;
    font-weight: $medium;
    text-transform: uppercase;
    color: $black;
    font-size: 1.3rem;
    text-decoration: underline;

    @media (max-width: 700px) {
      margin-top: 2rem;
    }

    @media (max-width: 550px) {
      margin-right: 1rem;
      font-size: 1rem;
    }
  }
}

/***********************/
/* Contact Section */
/***********************/

.contact--info {
  display: inline-block;
  font-family: $body-font;
  font-weight: $medium;
  text-transform: lowercase;
  font-size: 2rem;
  margin-bottom: 4rem;
  color: $black;

  @media (max-width: 550px) {
    font-size: 1.5rem;
  }

  @media (max-width: 400px) {
    font-size: 1.2rem;
  }
}

.contact--header {
  font-family: $main-font;
  font-weight: $medium;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.contact__top {
  display: inline-block;
  margin-top: 5rem;
  font-family: $body-font;
  font-weight: $semiBold;
  font-size: 1.5em;
  color: $black;
  text-transform: uppercase;
}

.contact__socials {
  display: flex;
  gap: 2rem;
}

.contact__form {
  @media (max-width: 1200px) {
    grid-row: 1/-3;
  }
}

form {
  input,
  textarea {
    background: transparent;
    outline: none;
    border: 0;
    padding: 1rem 1.25rem;
    color: $black;
    width: 100%;
    font-family: $body-font;
    border-bottom: 2px solid $black;
    margin-bottom: 2rem;
  }

  label {
    font-family: $body-font;
  }

  .btn {
    display: inline-block;
    font-family: $body-font;
    font-size: 1rem;
    padding: 1rem 1.3rem;

    background-color: $black;
    color: $beige;
    border-radius: 15px;
    transition: background-color 0.3s;

    @media (max-width: 1200px) {
      margin-bottom: 4rem;
    }
  }

  .btn:hover {
    background-color: #000000;
  }
}

/***********************/
/* Footer Section */
/***********************/
.footer__text {
  text-align: center;
  padding: 2rem 0;

  font-family: $body-font;
  font-size: 1.2em;
  color: $black;
  text-transform: uppercase;
}
