@use './variables' as *;

body {
  background-color: $beige;
}

.wrapper {
  margin-inline: auto;
  max-width: 1200px;
  width: 80%;
}

.title {
  display: flex;
  gap: 1rem;
}

img {
  display: block;
}

.title--style {
  width: 11rem;
  height: 1.4rem;
  border-bottom: 3.5px solid $yellow;
}

i {
  font-size: 3.5rem;
  color: rgba(51, 51, 51, 0.9);
}

/***********************/
/* Hero Section */
/***********************/

.hero__textContainer {
  h1 {
    font-family: $body-font;
    font-weight: $semiBold;
    font-size: 3.5rem;

    background-image: linear-gradient(
      90deg,
      rgba(94, 114, 235, 1) 0%,
      rgba(255, 145, 144, 1) 56%,
      rgba(254, 193, 149, 1) 100%
    );
    color: transparent;
    background-clip: text;

    animation: move 4s infinite;

    @keyframes move {
      50% {
        background-image: linear-gradient(
          262deg,
          rgba(94, 114, 235, 1) 0%,
          rgba(255, 145, 144, 1) 56%,
          rgba(254, 193, 149, 1) 100%
        );
      }
    }
  }

  p {
    font-family: $main-font;
    font-size: 4rem;
    font-weight: $regular;
    text-transform: uppercase;
  }

  .hero__tag {
    font-family: $body-font;
    font-size: 1.2rem;
    font-weight: $regular;
    text-transform: none;
    margin-top: 3.5rem;
  }
}

.hero__imgContainer {
  width: 70%;
  justify-self: end;
  padding-top: 4rem;
}

/***********************/
/* About Section */
/***********************/

h3 {
  font-family: $main-font;
  font-size: 2.5rem;
  font-weight: $regular;
  text-transform: uppercase;
  padding-bottom: 4rem;
}

h4 {
  font-family: $body-font;
  font-weight: $semiBold;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.about__des {
  font-size: 1.2rem;
  font-family: $body-font;
  font-weight: $regular;
  line-height: 1.5rem;
}

/***********************/
/* Project Section */
/***********************/

.project--header {
  margin-bottom: 3rem;
}

.project__imageContainer {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.33);
  margin-bottom: 5rem;
}

h5 {
  font-family: $body-font;
  font-weight: $medium;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.tool--list {
  display: flex;
  text-transform: uppercase;
  gap: 2rem;

  li {
    font-family: $body-font;
    border: 1px solid $black;
    padding: 0.4rem;
  }
}

.project__text {
  margin-bottom: 5rem;
  p {
    font-size: 1.2rem;
    font-family: $body-font;
    font-weight: $light;
    line-height: 1.5rem;
    padding-top: 1rem;
    line-height: 2rem;
  }

  a {
    display: inline-block;
    margin-top: 3rem;
    margin-right: 2rem;
    font-family: $body-font;
    font-weight: $medium;
    text-transform: uppercase;
    color: $black;
    font-size: 1.3rem;
    text-decoration: underline;
  }
}

/***********************/
/* Contact Section */
/***********************/

.contact--info {
  font-family: $body-font;
  font-weight: $medium;
  text-transform: lowercase;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.contact--header {
  font-family: $main-font;
  font-weight: $medium;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.contact__socials {
  display: flex;
  gap: 2rem;
}

form {
  input,
  textarea {
    background: transparent;
    outline: none;
    border: 0;
    padding: 1rem 1.25rem;
    color: $black;
    width: 100%;
    font-family: $body-font;
    border-bottom: 2px solid $black;
    margin-bottom: 2rem;
  }

  label {
    font-family: $body-font;
  }

  .btn {
    display: inline-block;
    font-family: $body-font;
    font-size: 1rem;
    padding: 1rem 1.3rem;

    background-color: $black;
    color: $beige;
    border-radius: 15px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #000000;
  }
}
