// ************COLORS********************
// ***************************************
$black: #333333;
$beige: #f7f6f3;
$white: #fff;
$yellow: #eebf99;
// $yellow: #ffdc8a;

// ************FONTS********************
// ***************************************
$main-font: 'Crimson Text', serif;
$body-font: 'Work Sans', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$bolder: 900;
